In [5]:
import pandas as pd
import numpy as np
import datetime
import time
import os
import akshare as ak
import ib_insync
from ib_insync import *
import threading
import sys

In [6]:
js_News = ak.js_news(timestamp='最新数据')
print(js_News.tail(10), end="\r")

               datetime                                            content
90  2022-12-21 16:08:49  【行情】港股收盘，恒指小幅收涨0.34%，恒生科技指数收涨0.71%。教育、餐饮、黄金板块涨...
91  2022-12-21 16:09:24                 【行情】英镑兑美元GBP/USD短线下挫近30点，现报1.2155。
92  2022-12-21 16:11:26  【股市收盘】<br/>香港恒生指数12月21日（周三）收盘上涨65.69点，涨幅0.34%，...
93  2022-12-21 16:13:15  法国主要银行集团BPCE：承诺在2020年至2030年期间将与石油和天然气行业融资相关的碳排...
94  2022-12-21 16:17:15      瑞典国家经济研究院（NIER）：预计2023年GDP为-1.1%，而9月预测为-0.1%。
95  2022-12-21 16:17:49  <b>日本央行带崩美元，美债收益率走强，黄金多头剑指何方？机构级GMA指标今日黄金交易计划，...
96  2022-12-21 16:18:43  【工信部：1-10月全国锂电总产量超过580GWh】金十数据12月21日讯，2022年1-1...
97  2022-12-21 16:18:56                         不服？马斯克暗示推特投票结果或被操纵……点击查看>>
98  2022-12-21 16:24:17  俄防疫指挥部：俄单日新增新冠病毒感染病例7442例，累计超2173.5万例，新增死亡病例59...

In [9]:
util.startLoop()
ib = IB()
ib.connect('127.0.0.1', 4002,clientId=1)

In [40]:
hk169 = ContFuture('HSI', 'HKFE', 'HKD')

In [41]:
hk169 = ib.reqHistoricalData(
        hk169,
        endDateTime='',
        durationStr='1 D',
        barSizeSetting='1 min',
        whatToShow='TRADES',
        useRTH=False,
        formatDate=2)
df = util.df(hk169)

In [42]:
df['date'] = df['date'].dt.tz_convert('Asia/Shanghai')
df['date'] = df['date'].dt.tz_localize(None)
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time
df.tail()
df = df[['Dates', 'Time','open', 'high', 'low', 'close']]
df.iloc[:,2:] = df.iloc[:,2:].astype('int32')

/tmp/ipykernel_18243/3716248130.py:7: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,2:] = df.iloc[:,2:].astype('int32')

In [43]:
df.tail()

          Dates      Time   open   high    low  close
955  2022-12-21  16:25:00  19192  19199  19190  19199
956  2022-12-21  16:26:00  19197  19203  19197  19201
957  2022-12-21  16:27:00  19199  19202  19196  19201
958  2022-12-21  16:28:00  19202  19205  19188  19191
959  2022-12-21  16:29:00  19189  19192  19175  19186

In [45]:
positions=ib.positions()
account = ib.accountSummary()

In [ ]:
for a in account:
    if a.tag =='CashBalance':
        print("Cash Balance ="+str(a.value))
print("outputting positions")
for p in positions:
    print(p.contract.symbol)
    print("number of shares=" + str(len(p)))

AttributeError: module 'datetime' has no attribute 'tz_convert'